# Database
DATABASE_URL="postgresql://user:password@localhost:5432/hr_recruitment?schema=public"

# NextAuth
AUTH_URL="http://localhost:3000"
AUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"

# Super Admin Seed
SUPER_ADMIN_EMAIL="ziad@example.com"
SUPER_ADMIN_PASSWORD="change-this-password"
SUPER_ADMIN_NAME="Ziad"
